<mat-toolbar color="primary">
	<div>Memory game</div>
	<span class="example-spacer"></span>
	<div class="row">
		<label>Number of cards: </label>
		<mat-slider min="3" max="10" step="1" [(value)]="difficulty" (change)="difficulty = $event.value;"></mat-slider> {{difficulty}}
		<button mat-raised-button (click)="refreshGame()">Start new game</button>
	</div>
</mat-toolbar>

<ng-container *ngIf="!ended">

	<div class="game-info">
		<span>Steps: {{stepCount.count}}</span>
		<span *ngIf="highscore.ready">Best: {{highscore.best}}</span>
	</div>

	<div class="card-container">
		<div class="card" *ngFor="let card of cards" [class.selected]="card.selected" [class.paired]="card.paired">
			<mat-card class="card-handle" (click)="selectCard(card)">
				<div class="card-front" [style.backgroundImage]="'url(assets/img/'+ card.name +'.png)'"></div>
				<div class="card-back"></div>
			</mat-card>
		</div>
	</div>

</ng-container>

<div class="success" *ngIf="ended">
	Congratulations! Your score: {{stepCount.count}}
</div>
